/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #fff;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */

.center {
  max-width: 75%;
	margin: 0 auto;
}

/* -------------------------------------- */
/* MAP STYLES */
/* -------------------------------------- */

#location-canvas {
  width:100%;
  height:300px;
}

.map-container {
  position: relative;
  padding-bottom: 26.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
 
.map-container iframe,
.map-container object,
.map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}

#panel {
  text-align: center;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}


.ion-eye {
  font-size: 400%;
  text-align: center;
  vertical-align: middle;
}

#address {
  padding: 6px;
  border-radius: 10px;
  width: 25%;
}

/* -------------------------------------- */
/* RESULTS STYLES */
/* -------------------------------------- */

.results {
	height: 100%;
}

.right {
  float: right;

}

.left {
  float: left;

}

/* -------------------------------------- */
/* TITLES */
/* -------------------------------------- */

.title, .author {
  font-family: 'lato', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5d5d5d;
  text-align: center;
}

.title {
  font-size: 2.7em;
  margin-bottom: .5em;
}

.author {
  font-size: 1.8em;
  margin-bottom: 0px;
}

/* -------------------------------------- */
/* RESULTS STYLES */
/* -------------------------------------- */

img, video {
  border: 1px solid #5d5d5d;
  padding: 1%;
  margin: .25%;
}

a {
  text-decoration: none;
  font-size: 0;
}

.video {
   width: 24.99%;
   height: 32%;

}

.image {
   width: 24.99%;
   height: 32%;
}


