
body {
	margin: 0;
	background-color: #E8EAD5;
}

.center {
	margin: 0 auto;
	
}

.container {
	width: 70%;
	background-color: #BAB65B;
}

.login {
	margin-top: 0 auto;
	border-radius: 10px;
	height: 2em;
  /* display: none; */
}

#map {
	height: 400px;
	width: 500px;

}

#panel {
  position: absolute;
  text-align: center;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
}

#panel, .panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}

.results {
	height: 100%;
}