
body {
	margin: 0;
	background-color: #E8EAD5;
}

.center {
	margin: 0 auto;
	
}

.container {
	width: 70%;
	height: 100vh;
	background-color: #BAB65B;
}

.login {
	margin-top: 0 auto;
	border-radius: 10px;
	height: 2em;

}

#map {
	height: 100%;

}