/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #fff;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */

.center {
	margin: 0 auto;
}

.container {
	width: 70%;
	background-color: #BAB65B;
}

.login {
	margin-top: 0 auto;
	border-radius: 10px;
	height: 2em;
  /* display: none; */
}

/* -------------------------------------- */
/* MAP STYLES */
/* -------------------------------------- */

#map {
	height: 66%;
	width: 100%;
}

#panel {
  text-align: center;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  width: 500px;
}

/* -------------------------------------- */
/* RESULTS STYLES */
/* -------------------------------------- */

.results {
	height: 100%;
}

.right {
  float: right;

}

.left {
  float: left;

}

/* -------------------------------------- */
/* TITLES */
/* -------------------------------------- */

.title {
  font-family: 'lato', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5d5d5d;
  font-size: 1.8em;
}

/* -------------------------------------- */
/* RESULTS STYLES */
/* -------------------------------------- */

img {
  border: 1px solid #5d5d5d;
  padding: 20px;
}