/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #fff;
  /* background-image: url('../images/concrete_seamless.png'); */

}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */

.center {
  max-width: 65%;
	margin: 0 auto;
}

/* -------------------------------------- */
/* TITLES */
/* -------------------------------------- */

.title, .author {
  font-family: 'lato', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5d5d5d;
  text-align: center;
}

.title {
  font-size: 2.7em;
  margin-bottom: .5em;
}

.author {
  font-size: 1.5em;
  margin-bottom: 0px;
}

/* -------------------------------------- */
/* MAP STYLES */
/* -------------------------------------- */

#location-canvas {
  width:100%;
  height:300px;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 2px dotted #5d5d5d;
}

.map-container {
  position: relative;
  padding-bottom: 26.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
 
.map-container iframe,
.map-container object,
.map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}

/* -------------------------------------- */
/* SEARCH STYLES */
/* -------------------------------------- */

#panel {
  text-align: center;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  /* background: none; */
}


.ion-eye {
  font-size: 400%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #5d5d5d;
}

#address {
  padding: 6px;
  border-radius: 10px;
  width: 25%;
}

/* -------------------------------------- */
/* RESULTS STYLES */
/* -------------------------------------- */

.results {
	height: 100%;
}

.right {
  float: right;

}

.left {
  float: left;

}


/* -------------------------------------- */
/* RESULTS STYLES */
/* -------------------------------------- */

img, video {
 
}

.media-parent {
  display: inline;

}

img:hover, video:hover {
  opacity: 1;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 0;
}

/* flexbox styles */
/* .results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.image, .video {
   width: 24.5%; 
   /* width: 300px; flexbox */
   height: 32%;
   border-radius: 10px;
   border: 1px solid #5d5d5d;
   padding: .15%;
   margin: .25%; 
   opacity:  .7;
   background-color: #000;
}

/* -------------------------------------- */
/* OVERLAY STYLES */
/* -------------------------------------- */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
}

#overlay img, video {
  margin-top: 7.5%;
  height: 75%;
}

/* -------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------- */

@media (max-width: 1025px) {
  #address {
    width: 50%;
  }

  .center {
    max-width: 90%;

  }

@media (max-width: 769px) {
  .title {
    font-size: 2em;
  }
  .author {
    font-size: 1.3em;
  }
  .img, .video {
    width: ;
  }

}

@media (max-width: 641px) {
  .title {
    font-size: 1.6em;
  }
  .author {
    font-size: 1em;
  }

}

@media (max-width: 481px) {
  .title {
    font-size: 1.2em;
  }
  .author {
    font-size: .9em;
  }

}




