/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #fff;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */

.center {
	margin: 0 auto;
}

.login {
	margin-top: 0 auto;
	border-radius: 10px;
	height: 2em;
  /* display: none; */
}

/* -------------------------------------- */
/* MAP STYLES */
/* -------------------------------------- */

.location-canvas-container {
  height: 0;
  padding-bottom: 65%;

}

#location-canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.map-container {
position: relative;
padding-bottom: 26.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.map-container iframe,
.map-container object,
.map-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#panel {
  text-align: center;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  width: 81.5%;
}

/* -------------------------------------- */
/* RESULTS STYLES */
/* -------------------------------------- */

.results {
	height: 100%;
}

.right {
  float: right;

}

.left {
  float: left;

}

/* -------------------------------------- */
/* TITLES */
/* -------------------------------------- */

.title {
  font-family: 'lato', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5d5d5d;
  font-size: 1.8em;
}

/* -------------------------------------- */
/* RESULTS STYLES */
/* -------------------------------------- */

img, video {
  border: 1px solid #5d5d5d;
  padding: 1%;
  margin: .25%;
}

a {
  text-decoration: none;
  font-size: 0;
}



